* {
    padding: 0;
    margin: 0;
    font-family: 'itim', cursive;
}

.background {
    background-color: #12181b;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: rgb(253, 253, 253);
    text-align:  center;
    font-size: 30px;
    margin-top: 40px;
}

.display {
    color:rgb(255, 253, 253);
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hide {
    display:none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

.tile {

min-width: 90px;
min-height:90px;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
cursor: pointer
}
/* vertical lines */
.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(7),
.tile:nth-child(8) {
    border-right: 3px solid white;
}

/*Horazintal lines */
.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(3),
.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(6) {
    border-bottom: 3px solid white; 
}
.playerX {
    color: blue;
    text-shadow: 0 0 15px#636dc5;
}

.playerO {
    color: #4ade80;
    text-shadow: 0 0 5px rgb(26, 146, 26);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset {
    background-color: #ff3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}


.title {
    font-size: 30px;
    font-weight: bold;
}
